* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

nav {
    margin: 0%;
    display: flex;
    background-color: #F55A5A;
    align-items: center;
    justify-content: center;
    gap: 8px;
}